/* Size for brand */
nav .navbar-brand {
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue {
    color: #537fbe;
}

nav .navbar-brand .red {
    color: #ea433b;
}

nav .navbar-brand .yellow {
    color: #f5b82e;
}

nav .navbar-brand .green {
    color: #2e944b;
}

table {
    width: 100%
}

h1 {
    text-align: center;
}


.rules {
    margin-left: 20px;
    margin-right: 10%;
    font-size: 20px;
}