<!DOCTYPE html>

<html lang="en" data-bs-theme="dark">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <!-- http://getbootstrap.com/docs/5.1/ -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

        <!-- https://favicon.io/emoji-favicons/money-bag/ -->
        <link href="/favicon.png" rel="icon">

        <link href="/styles.css" rel="stylesheet">

        <title>Blackjack!</title>

    </head>

    <body>
        <nav class="bg-dark border navbar navbar-expand-md navbar-dark sticky-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="/"><span class="blue">J</span><span class="red">a</span><span class="yellow">c</span><span class="green">k</span> </a>
                <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbar" data-bs-toggle="collapse" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar">
                        <ul class="navbar-nav me-auto mt-2">
                            <li class="nav-item"><a class="nav-link active" href="/">Homepage</a></li>
                            <li class="nav-item"><a class="nav-link" href="/create">Create a Room</a></li>
                            <li class="nav-item"><a class="nav-link" href="/join">Join a Room</a></li>
                        </ul>
                        <ul class="navbar-nav ms-auto mt-2">
                            <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
                        </ul>
                </div>
            </div>
        </nav>
        <br>
    <h1>Official Game Rules</h1>
    <div class="rules">
    <p>Our BlackJack game follows standard rules along with some specific house rules.</p>
    <h2>Equipment:</h2>
    <p>Our game uses 1 to 8 card decks mixed together without any jokers.</p>
    <h2>Betting and Winning</h2>
    <p>Before the game begins each player sets their bet for the game. A player’s bet can be any sum of money greater than 0. Only whole number dollar amounts are accepted.</p>
    <p>Based on their final hand and how it compares to the dealer the player will end up with one of these four outcomes:
    <ul>
      <li>Lose: the player loses their bet to the dealer.</li>
      <li>Win: the player is payed by the dealer the amount that they bet on the game.</li>
      <li>Blackjack: the player is payed 1.5 times their bet by the dealer.</li>
      <li>Push: the hand is a draw. The player keeps his bet, neither winning or losing money.</li>
    </ul>
    <p>Please note that our game does not deal with actual money but simulates a game of Blackjack with bets involved.</p>
    <h2>Game Objective:</h2>
    <p>Blackjack can accommodate many players in a single round but the game is single player, in that each player plays for themselves and do not cooperate or compete against anyone but the dealer.</p>
    <p>The aim of the game is to accumulate a higher point total than the dealer without going over 21. You compute your score by adding the values of your individual cards. The cards 2 through 10 have their face values, Jacks, Queens and Kings are worth 10 points each and Aces can equal 1 or 11.</p>
    <h2>The Deal and “Blackjack”</h2>
    <p>At the start of a Blackjack game, the players and dealer receive two cards each. The first card is dealt face down and the second card is dealt face up. The best possible hand in blackjack is an ace and a card worth 10 points. This is called a Blackjack and the player holding this hand automatically wins unless the Dealer also has a Blackjack- this case results in a push for the player. If the dealer has a Blackjack all players who don’t also have a Blackjack lose.</p>
    <h2>Player Turn:</h2>
    <p>The player has two options during their turn. Hit, which means take a card and stand, which means you leave your hand as is. If a player’s total points after hitting a card is over 21 they automatically bust. Otherwise, they play until they decide to stand. Once a player has stood they can no longer move and are removed from the turn order.</p>
    <h2>Dealer Turn:</h2>
    <p>The Dealer operates under the same rules as the players except they will always hit a card if they have a card total lower than 17 and stand otherwise.</p>
    <h2>Showdown:</h2>
    <p>If the Dealer goes bust all players who haven’t busted win. Otherwise players with higher point totals than the Dealer win, while those with lower totals lose. For the players with the same amount of points as the Dealer the result is a push.</p>
    <p>If the dealer has a blackjack, players with blackjack make a push, while all other players lose.</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>