<!DOCTYPE html>

<html lang="en" data-bs-theme="dark">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">

    <!-- http://getbootstrap.com/docs/5.1/ -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <!-- https://favicon.io/emoji-favicons/money-bag/ -->
    <link href="/favicon.png" rel="icon">

    <link href="/styles.css" rel="stylesheet">

    <title>Blackjack!</title>

</head>

<body>
    <nav class="bg-dark border navbar navbar-expand-md navbar-dark sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><span class="blue">J</span><span class="red">a</span><span
                    class="yellow">c</span><span class="green">k</span> </a>
            <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                data-bs-target="#navbar" data-bs-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav me-auto mt-2">
                    <li class="nav-item"><a class="nav-link active" href="/">Homepage</a></li>
                    <li class="nav-item"><a class="nav-link" href="/rules">How To Play</a></li>
                    <li class="nav-item"><a class="nav-link" href="/create">Create a Room</a></li>
                    <li class="nav-item"><a class="nav-link" href="/join">Join a Room</a></li>
                    <li class="nav-item"><a class="nav-link" href="/history">Game History</a></li>
                </ul>
                <ul class="navbar-nav ms-auto mt-2">
                    <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <br>
    <h1>Welcome to Noah and Aaron's Blackjack</h1>
    <br>
    <div class="text-center"></div>
    <img src="/favicon.png" class="rounded mx-auto d-block" alt="Blackjack" width="30%" height="40%">
    </div>
    <h2 style="text-align: center;"> We Sincerely Hope You Enjoy Our Game! </h2>
    <br>
    <div class="rules">
        <h3>Please note that Google Cloud Platform does not play well with this site. </h3>

        Unfortunately, I designed the code to scale vertically, the only way to make the code run faster is to put it on a more powerful computer. When I had the webserver hosted in Google Cloud, they scaled the app horizontally, they started several instances of the application. This caused glitches and errors for players, as the memory stored in one computer would not be stored in another. Some players would not be able to join games because the user would get a different server than the creator. This was an error that was largely out of my control. I messed with the server configuration, however I was never fully able to resolve that issue.
        	Google Cloud Platform also protects its servers by making their storage devices read only for internal programs, this prevents people from maliciously overwriting sensitive data. When my code would try to write text files the operating system would prevent it, causing the history feature to become disabled.
        	<p style="font-weight: bold;"> If you would truly like to experience our web application, I recommend Aaron and I demonstrate it to you locally (running on my own computer without GCP restrictions).
 </p>
        </p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>

</html>